.navbar button {
    width: 125px;
}

.bg-dark-subtle {
    background-color: black !important;
}

.bg-warning {
    background-color: #FDD947 !important;
}

.bg-white {
    background-color: #ffffff !important;
}

.review-card {
    width: 100%;
    height: 100%;
    background-color: white;
}

.grid-btn {
    display: grid;

    grid-template-areas:
        "h4 ion-icon"
        "p ion-icon";

    grid-template-columns: auto auto;
}

.o-h4 {
    grid-area: h4;
}

.o-p {
    grid-area: p;
}

.o-i {
    grid-area: ion-icon;
    font-size: 45px;
    margin-top: 15px;
}


main ion-icon {
    font-size: 30px;
}

.back-img {
    background-image: url("https://img.freepik.com/fotos-gratis/fundo-de-fluxo-de-particulas-em-rede-3d_1048-12212.jpg?w=996&t=st=1677362984~exp=1677363584~hmac=038ff806cdc34668abb78a5d6596deaeadc0d332c8061fdc1ee763581c236b10");
    background-size: cover;
}



.partners [class*="col"],
.partners .card,
.partners img {
    aspect-ratio: 3/2;
}

#myCarousel img {
    width: 75%
}

#myCarousel ion-icon {
    color: black
}

.blog .card,
.blog img {
    aspect-ratio: 5/4;
}

.blog .card:hover {
    opacity: 0.85;
}

.vr {
    background-color: #FDD947 !important;
    height: 100%;
    width: 5px;
    opacity: 1;
}

.ponta-e,
.ponta-d {
    background: black;
    color: #fff;
    padding: 15px;
    position: relative;

}

.ponta-e:before {
    border: 12px solid transparent;
    border-right-color: black;
    content: "";
    left: -23px;
    position: absolute;
}

.ponta-d:before {
    border: 12px solid transparent;
    border-left-color: black;
    content: "";
    right: -23px;
    position: absolute;
}